<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/playerstyle.css">
    <title>BruFyzer Play</title>
</head>
<body>
    
    <div class="container">
        <nav>
            <div class="logo">     
                <img class="imagem" src="/Imagens/2428664_app_composition_editor_music_playlist_icon.png" alt="">        
                <span> <a href="/BruFyzer/home"> BruFyzer</a> </span>
            </div>
            <div class="menu-mob">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/BruFyzer/cadastrar">Cadastrar</a></li>
                <li><a href="/BruFyzer/login">Login</a></li>
            </ul>
        </nav>
    </div>

    <h1>Escolha o artista</h1>
    
    <div class="cards">
        <div class="artista1">         
                    <h2>João Gomes</h2>    
                  <a href="/BruFyzer/player3"> <img class="imagem1" src="/Imagens/acordeon.jpg" alt=""> </a>  
        </div>

        <div class="artista2">
                    <h2>Gustavo Mioto</h2>            
                <a href="/BruFyzer/player2"> <img class="imagem2" src="/Imagens/violao.jpg" alt=""></a>
        </div>

        <div class="artista3">
                    <h2>Péricles</h2>
                  <a href="/BruFyzer/player4"><img class="imagem3" src="/Imagens/meia lua.jpg" alt="">  </a>     
        </div>
    </div>
 
    <h1 class="footer">Em breve mais musicas...</h1>


</body>
</html>